.tooltip {
	/* Used to position the arrow */
	position: relative;
	z-index: 30;
}

/* Show the arrow and content and restore pointer events when hovering the trigger element */
.tooltip:hover .tooltipArrow.show,
.tooltip:hover .tooltipContent.show {
	opacity: 1;
	pointer-events: initial;
}

.tooltipArrow,
.tooltipContent {
	--transform-x: -50%;
	--transform-y: 8px;
	/* Invisible by default */
	opacity: 0;

	/* To prevent accidental interactions with other elements  */
	pointer-events: none;

	/* Position */
	position: absolute;
	transform: translate(var(--transform-x), var(--transform-y));

	/* Displayed on top of other element */
	z-index: 10;
}

.tooltipArrow.top,
.tooltipContent.top {
	bottom: 100%;
	left: 50%;
}

.tooltipContent.bottom {
	--transform-y: 8px;
}
.tooltipArrow.bottom {
	transform: rotate(180deg) translate(50%, 8px);
}

.tooltipArrow.bottom,
.tooltipContent.bottom {
	top: 100%;
	left: 50%;
}

.tooltipContent {
	--transform-y: -8px;
	/* Background color, must be the same as the border color of arrow */
	/* background-color: #111827; */
	border-radius: 0.25rem;
}
